# Index

- **Python Libraries**
- **Task 2**
    - *Reading Preprocessed Datasets*
    - *Exercise 1*
    - *Exercise 2*
        - *Balancing Strategy Definition*
        - *Exercise 2.1*
        - *Exercise 2.2*
        - *Exercise 2.3*
    - *Exercise 3 - Concentration*
    - *Writing Balanced Datasets*

# Pyhton Libraries

In [195]:
import pandas as pd
import numpy as np
import datetime as dt
import random

# Task 2

## Reading Preprocessed Datasets

In [130]:
read_data_path  = "../../data/dataset_preprocessed"

ap   = pd.read_csv(read_data_path+'/anagraficapazientiattivi.csv', header=0 ,names=['idcentro','idana','sesso','annodiagnosidiabete','tipodiabete','annonascita','annoprimoaccesso','annodecesso','label'])
diag = pd.read_csv(read_data_path+'/diagnosi.csv', header=0 ,names=['idcentro','idana','data','codiceamd','valore'])
elp  = pd.read_csv(read_data_path+'/esamilaboratorioparametri.csv', header=0 ,names=['idcentro','idana','data','codiceamd','valore'])
ei   = pd.read_csv(read_data_path+'/esamistrumentali.csv', header=0 ,names=['idcentro','idana','data','codiceamd','valore'])
pdf  = pd.read_csv(read_data_path+'/prescrizionidiabetefarmaci.csv', header=0 ,names=['idcentro','idana','data','codiceatc','quantita','idpasto','descrizionefarmaco'])
pdnf = pd.read_csv(read_data_path+'/prescrizionidiabetenonfarmaci.csv', header=0 ,names=['idcentro','idana','data','codiceamd','valore'])
pnd  = pd.read_csv(read_data_path+'/prescrizioninondiabete.csv', header=0 ,names=['idcentro','idana','data','codiceamd','valore'])

In [131]:
print(ap.shape)
ap.head()

(1555, 9)

,idcentro,idana,sesso,annodiagnosidiabete,tipodiabete,annonascita,annoprimoaccesso,annodecesso,label
0,1,5,M,1986.0,5,1942,1990.0,2014.0,1
1,1,65,M,1997.0,5,1942,1997.0,2018.0,1
2,1,74,M,1995.0,5,1930,1996.0,2013.0,0
3,1,143,M,1991.0,5,1934,1991.0,2015.0,0
4,1,173,M,1988.0,5,1939,1988.0,2012.0,1

In [132]:
print(diag.shape)
diag.head()

(106999, 5)

   idcentro  idana        data codiceamd  valore
0         1      5  1997-12-01    AMD247     410
1         1      5  2000-06-01    AMD247  434.01
2         1      5  2000-06-01    AMD247  434.91
3         1      5  2000-12-02    AMD049       S
4         1      5  2000-12-02    AMD247   36.10

In [133]:
print(elp.shape)
elp.head()

(312389, 5)

   idcentro  idana        data codiceamd      valore
0         1      5  2005-01-18    AMD001  169.000000
1         1      5  2005-01-18    AMD002   76.000000
2         1      5  2005-01-18    AMD004   90.232558
3         1      5  2005-01-18    AMD005   49.600000
4         1      5  2005-06-06    AMD007  138.225058

In [134]:
print(ei.shape)
ei.head()

(15114, 5)

   idcentro  idana        data codiceamd valore
0         1      5  2006-01-04    AMD051      N
1         1      5  2006-11-14    AMD041      P
2         1      5  2006-11-20    AMD040      P
3         1      5  2007-06-01    AMD040      N
4         1      5  2008-01-16    AMD040      N

In [135]:
print(pdf.shape)
pdf.head()

(94228, 7)

,idcentro,idana,data,codiceatc,quantita,idpasto,descrizionefarmaco
0,1,5,2005-01-18,A10BA02,2.0,1.0,METFORAL*50CPR RIV 500mg
1,1,5,2005-01-18,A10BA02,2.0,3.0,METFORAL*50CPR RIV 500mg
2,1,5,2005-01-18,A10BA02,2.0,5.0,METFORAL*50CPR RIV 500mg
3,1,5,2005-01-18,A10BB12,1.0,3.0,AMARYL*30CPR 2mg
4,1,5,2005-06-21,A10BA02,2.0,1.0,METFORAL*50CPR RIV 500mg

In [136]:
print(pdnf.shape)
pdnf.head()

(9954, 5)

   idcentro  idana        data codiceamd valore
0         1      5  2008-06-20    AMD152    NaN
1         1      5  2013-08-27    AMD152    NaN
2         1      5  2013-12-31    AMD086      S
3         1      5  2013-12-31    AMD228      S
4         1     65  2014-12-19    AMD228      S

In [137]:
print(pnd.shape)
pnd.head()

(105297, 5)

   idcentro  idana        data codiceamd   valore
0         1      5  2005-01-18    AMD121  C09AA05
1         1      5  2005-01-18    AMD124  C10AA05
2         1      5  2005-01-18    AMD124  C10AX06
3         1      5  2005-06-21    AMD121  C09AA05
4         1      5  2005-06-21    AMD124  C10AA05

## Exercise 1

*Class imbalance #1* - not all patients will have a cardiovascular event within the stabilised six-month period. Thus, we would expect that the class distribution is highly imbalanced. 

- For each patient $p_i$ such that $y(p_i)=0$, eliminate the last six months of history to avoid giving the model prediction hints into the future. 
- For each patient $p_i$ such that $y(p_i)=1$, create $m$ copies $\lbrace p_i^1, \cdots, p_i^m \rbrace$ such that all the cardiovascular events in the last six months are eliminated, and the other events are shuffled and cancelled at random.

In this way, you have a sort of balancing criterion (i.e., up-sampling the minority class).

First we divide the **ap** dataframe into:
- **ap_class0** each patient $p_i$ has $y(p_i)=0$
- **ap_class1** each patient $p_i$ has $y(p_i)=1$

In [138]:
print(f"ap has size        => {ap.shape}")
ap_class0 = ap[ap.label == 0]
print(f"ap_class0 has size => {ap_class0.shape}")
ap_class1 = ap[ap.label == 1]
print(f"ap_class1 has size => {ap_class1.shape}")

ap has size        => (1555, 9)
ap_class0 has size => (868, 9)
ap_class1 has size => (687, 9)

And now the rest of the dataframes are also divided into **df_class0** and **df_class1** following the same criteria:

In [139]:
diag_class0 = pd.merge(diag, ap_class0, on=['idcentro','idana'])[diag.columns]
elp_class0  = pd.merge(elp, ap_class0, on=['idcentro','idana'])[elp.columns]
ei_class0   = pd.merge(ei, ap_class0, on=['idcentro','idana'])[ei.columns]
pdf_class0  = pd.merge(pdf, ap_class0, on=['idcentro','idana'])[pdf.columns]
pdnf_class0 = pd.merge(pdnf, ap_class0, on=['idcentro','idana'])[pdnf.columns]
pnd_class0  = pd.merge(pnd, ap_class0, on=['idcentro','idana'])[pnd.columns]

diag_class1 = pd.merge(diag, ap_class1, on=['idcentro','idana'])[diag.columns]
elp_class1  = pd.merge(elp, ap_class1, on=['idcentro','idana'])[elp.columns]
ei_class1   = pd.merge(ei, ap_class1, on=['idcentro','idana'])[ei.columns]
pdf_class1  = pd.merge(pdf, ap_class1, on=['idcentro','idana'])[pdf.columns]
pdnf_class1 = pd.merge(pdnf, ap_class1, on=['idcentro','idana'])[pdnf.columns]
pnd_class1  = pd.merge(pnd, ap_class1, on=['idcentro','idana'])[pnd.columns]

We define a function that eliminates the events during the last 6 months for each patient

In [140]:
def dropLastSixMonths(df:pd.DataFrame, patients: pd.DataFrame) -> pd.DataFrame:

    newDF = pd.DataFrame(columns=df.columns)

    # We iterate for each patient on patients
    for p in patients.itertuples():
        # Take the cardiovascular events of the patient p
        aux = df[(df.idcentro==p.idcentro) & (df.idana==p.idana)]

        # Calculate the last valid data
        aux = aux.sort_values('data', ascending=False)
        lastData = next(aux.itertuples()).data
        lastData = dt.date.fromisoformat(lastData)
        limitData = lastData - dt.timedelta(days=30*6)

        # Take only the events before this limit data
        aux = aux[aux.data < limitData.strftime("%Y-%m-%d")]
        
        # We concatenate this with the new DataFrame
        newDF = pd.concat([newDF, aux])

    return newDF

Now we execute the function to every dataframe in our preprocessed dataset for the **ap_class0** patients:

In [141]:
aux = diag_class0.shape[0]
diag_class0 = dropLastSixMonths(diag_class0, ap_class0)
print(f"Diag_class0: {aux} => {diag_class0.shape[0]}")

aux = elp_class0.shape[0]
elp_class0 = dropLastSixMonths(elp_class0, ap_class0)
print(f"Elp_class0: {aux} => {elp_class0.shape[0]}")

aux = ei_class0.shape[0]
ei_class0 = dropLastSixMonths(ei_class0, ap_class0)
print(f"Ei_class0: {aux} => {ei_class0.shape[0]}")

aux = pdf_class0.shape[0]
pdf_class0 = dropLastSixMonths(pdf_class0, ap_class0)
print(f"Pdf_class0: {aux} => {pdf_class0.shape[0]}")

aux = pdnf_class0.shape[0]
pdnf_class0 = dropLastSixMonths(pdnf_class0, ap_class0)
print(f"Pdnf_class0: {aux} => {pdnf_class0.shape[0]}")

aux = pnd_class0.shape[0]
pnd_class0 = dropLastSixMonths(pnd_class0, ap_class0)
print(f"Pnd_class0: {aux} => {pnd_class0.shape[0]}")

Diag_class0: 49914 => 44071
Elp_class0: 168320 => 146637
Ei_class0: 7825 => 6291
Pdf_class0: 49264 => 44101
Pdnf_class0: 5718 => 4299
Pnd_class0: 51834 => 45656

Now for the **ap_class1** patients:

In [142]:
aux = diag_class1.shape[0]
diag_class1 = dropLastSixMonths(diag_class1, ap_class1)
print(f"Diag_class1: {aux} => {diag_class1.shape[0]}")

aux = elp_class1.shape[0]
elp_class1 = dropLastSixMonths(elp_class1, ap_class1)
print(f"Elp_class1: {aux} => {elp_class1.shape[0]}")

aux = ei_class1.shape[0]
ei_class1 = dropLastSixMonths(ei_class1, ap_class1)
print(f"Ei_class1: {aux} => {ei_class1.shape[0]}")

aux = pdf_class1.shape[0]
pdf_class1 = dropLastSixMonths(pdf_class1, ap_class1)
print(f"Pdf_class1: {aux} => {pdf_class1.shape[0]}")

aux = pdnf_class1.shape[0]
pdnf_class1 = dropLastSixMonths(pdnf_class1, ap_class1)
print(f"Pdnf_class1: {aux} => {pdnf_class1.shape[0]}")

aux = pnd_class1.shape[0]
pnd_class1 = dropLastSixMonths(pnd_class1, ap_class1)
print(f"Pnd_class1: {aux} => {pnd_class1.shape[0]}")

Diag_class1: 57085 => 49112
Elp_class1: 144069 => 126055
Ei_class1: 7289 => 5822
Pdf_class1: 44964 => 40007
Pdnf_class1: 4236 => 3153
Pnd_class1: 53463 => 47128

Now let's assign idcopy = 1 to every single patient on ap_class0

In [143]:
def insertIdCopyClass0(df:pd.DataFrame) -> pd.DataFrame:

    cols = list(df.columns)
    if not(np.isin('idcopy',cols)):
        cols.insert(2,'idcopy')
        df['idcopy'] = 1
        df = df[cols]
    return df

In [144]:
pd.options.mode.chained_assignment = None  # default='warn'

ap_class0   = insertIdCopyClass0(ap_class0)
diag_class0 = insertIdCopyClass0(diag_class0)
elp_class0  = insertIdCopyClass0(elp_class0)
ei_class0   = insertIdCopyClass0(ei_class0)
pdf_class0  = insertIdCopyClass0(pdf_class0)
pdnf_class0 = insertIdCopyClass0(pdnf_class0)
pnd_class0  = insertIdCopyClass0(pnd_class0)

diag_class0.head()
pd.options.mode.chained_assignment = 'warn'  # default='warn'

At this point, we are done with the **ap_class0** patients and their events, so we focus on the **ap_class1** ones. We now have to create $m$ (= 3 for example) copies of each patient $p_i$ such that $y(p_i)=1$, and we shuffle or eliminate cardiovascular events randomly just to *oversample* the dataset:

In [145]:
def newMCopies(patients:pd.DataFrame, copies:int) -> pd.DataFrame:

    cols = patients.columns.tolist()
    cols = cols[0:2]+['idcopy']+cols[2:]
    newPatients = pd.DataFrame(columns=cols)

    for p in patients.iterrows():
        for i in range(copies):
            newP = dict(p[1])
            newP['idcopy'] = i+1
            newPatients.loc[newPatients.shape[0]] = newP

    return newPatients

In [146]:
M = 3
ap_class1_copies = newMCopies(ap_class1, M)

We can check that every patient has been cloned M times, and the only identification for each clone $p_i^j$ is $i=\lbrace$ idcentro, idana $\rbrace$ and $j = \lbrace$ idcopy $\rbrace$

In [147]:
print("Copies of Patient 1:")
ap_class1_copies.iloc[0:1*M]

Copies of Patient 1:

,idcentro,idana,idcopy,sesso,annodiagnosidiabete,tipodiabete,annonascita,annoprimoaccesso,annodecesso,label
0,1,5,1,M,1986.0,5,1942,1990.0,2014.0,1
1,1,5,2,M,1986.0,5,1942,1990.0,2014.0,1
2,1,5,3,M,1986.0,5,1942,1990.0,2014.0,1

In [148]:
print("Copies of Patient 2:")
ap_class1_copies.iloc[M:2*M]

Copies of Patient 2:

,idcentro,idana,idcopy,sesso,annodiagnosidiabete,tipodiabete,annonascita,annoprimoaccesso,annodecesso,label
3,1,65,1,M,1997.0,5,1942,1997.0,2018.0,1
4,1,65,2,M,1997.0,5,1942,1997.0,2018.0,1
5,1,65,3,M,1997.0,5,1942,1997.0,2018.0,1

In [149]:
def newMCopiesRandom(df: pd.DataFrame, copies:int) -> pd.DataFrame:
  
  list_of_dataframes = []   

  # We iterate over the patients with class = 1
  for i in ap_class1.itertuples():

    # We get the events of df associated with the patient p
    events_patient = df.loc[(df['idcentro'] == i.idcentro) & (df['idana'] == i.idana)]
    events_patient['idcopy']=0

    cols = list(df.columns)
    cols.insert(2,'idcopy')
    events_patient = events_patient[cols]

    for j in range(copies):
      
      # We create a new dataframe with the events of patient (p_i^j) and assign the idcopy to (j+1)
      events_patient['idcopy'] = j+1

      # Now we decide randomly if each copy of the patient p is going to have the events generating a boolean decision list
      # We also include a random parameter weight in order to become False choice more probable than True.
      weight = random.randint(50,70)/100
      choice = random.choices([False,True],weights=[weight,1-weight], k=events_patient.shape[0])
      
      # And add the new dataframe to the list of dataframes
      list_of_dataframes.append(events_patient[choice])
   
  newDf = pd.concat(list_of_dataframes, axis=0)
  return newDf.reset_index(drop=True)

In [150]:
pd.options.mode.chained_assignment = None  # default='warn'
diag_class1_copies = newMCopiesRandom(diag_class1, M)

In [151]:
print("Events of Patient 1 Copy 1:", diag_class1_copies.loc[(diag_class1_copies['idcentro']==1)&
                                                            (diag_class1_copies['idana']==5)&
                                                            (diag_class1_copies['idcopy']==1)].shape[0])
print("Events of Patient 1 Copy 2:", diag_class1_copies.loc[(diag_class1_copies['idcentro']==1)&
                                                            (diag_class1_copies['idana']==5)&
                                                            (diag_class1_copies['idcopy']==2)].shape[0])
print("Events of Patient 1 Copy 3:", diag_class1_copies.loc[(diag_class1_copies['idcentro']==1)&
                                                            (diag_class1_copies['idana']==5)&
                                                            (diag_class1_copies['idcopy']==3)].shape[0])

Events of Patient 1 Copy 1: 56
Events of Patient 1 Copy 2: 79
Events of Patient 1 Copy 3: 67

In [152]:
elp_class1_copies  = newMCopiesRandom(df=elp_class1, copies=M)

In [153]:
ei_class1_copies   = newMCopiesRandom(df=ei_class1, copies=M)

In [154]:
pdf_class1_copies  = newMCopiesRandom(df=pdf_class1, copies=M)

In [155]:
pdnf_class1_copies = newMCopiesRandom(df=pdnf_class1, copies=M)

In [156]:
pnd_class1_copies  = newMCopiesRandom(df=pnd_class1, copies=M)
pd.options.mode.chained_assignment = 'warn'

## Exercise 2

*Class Imbalance #2* - Action item *#1* isn't going to be sufficient for balancing purposes. Propose your balancing strategy - possibly an advanced approach - and evaluate: 
- **vanilla-LTSM** (*Exercise 2.1*)
- **T-LTSM** (*Exercise 2.2*)
- **PubMedBert** (*Exercise 2.3*) 

on the balanced version of the dataset.

### Balancing Strategy Definition

We are going to keep only the events that are directly related to cardiovascular problems, this means for example:

- Cholesterol
- Diabetes
- Glycemia
- Smoking Patient
- Patient's Weight 
- $\hspace{1cm}\vdots$

In [157]:
# We make a list with the events that we are going to take into account
codes = ['AMD001', 'AMD002', 'AMD003', 'AMD004', 'AMD005', 'AMD007', 'AMD010', 'AMD022', 'AMD034', 'AMD040', 'AMD042', 'AMD043', 'AMD044', 'AMD045', 'AMD046', 'AMD047', 'AMD048', 'AMD049', 'AMD055', 'AMD066', 'AMD069', 'AMD070', 'AMD071', 'AMD081', 'AMD082', 'AMD083', 'AMD086', 'AMD096', 'AMD097', 'AMD116', 'AMD118', 'AMD121', 'AMD132', 'AMD152', 'AMD204', 'AMD205', 'AMD208', 'AMD300', 'AMD303', 'AMD306', 'AMD307']

def selectEvents(df:pd.DataFrame, events_codes:list) -> pd.DataFrame:
    return df[df.codiceamd.isin(events_codes)]

# We select from the tables only the events with codes in the list
diag_cardEvents = selectEvents(diag,codes)

pnd_cardEvents = selectEvents(pnd,codes)

pdnf_cardEvents = selectEvents(pdnf,codes)

ei_cardEvents = selectEvents(ei,codes)

elp_cardEvents = selectEvents(elp,codes)

print(f"diag: {diag.shape[0]:6d} ==> {diag_cardEvents.shape[0]:6d}")
print(f"pnd:  {pnd.shape[0]:6d} ==> {pnd_cardEvents.shape[0]:6d}")
print(f"pdnf: {pdnf.shape[0]:6d} ==> {pdnf_cardEvents.shape[0]:6d}")
print(f"ei:   {ei.shape[0]:6d} ==> {ei_cardEvents.shape[0]:6d}")
print(f"elp:  {diag.shape[0]:6d} ==> {elp_cardEvents.shape[0]:6d}")

diag: 106999 ==>  28094
pnd:  105297 ==>  58533
pdnf:   9954 ==>   9030
ei:    15114 ==>   6513
elp:  106999 ==> 142648

In [158]:
print(f"Patients with class = 0: {ap_class0.shape[0]}")
print(f"Patients with class = 1: {ap_class1_copies.shape[0]}")

Patients with class = 0: 868
Patients with class = 1: 2061

In [159]:
diag_aux = diag_cardEvents.filter(items=['idcentro', 'idana', 'codiceamd']).drop_duplicates()
diag_aux = diag_aux.filter(items=['idcentro', 'idana'])

pnd_aux = pnd_cardEvents.filter(items=['idcentro', 'idana', 'codiceamd']).drop_duplicates()
pnd_aux = pnd_aux.filter(items=['idcentro', 'idana'])

pdnf_aux = pdnf_cardEvents.filter(items=['idcentro', 'idana', 'codiceamd']).drop_duplicates()
pdnf_aux = pdnf_aux.filter(items=['idcentro', 'idana'])

ei_aux = ei_cardEvents.filter(items=['idcentro', 'idana', 'codiceamd']).drop_duplicates()
ei_aux = ei_aux.filter(items=['idcentro', 'idana'])

elp_aux = elp_cardEvents.filter(items=['idcentro', 'idana', 'codiceamd']).drop_duplicates()
elp_aux = elp_aux.filter(items=['idcentro', 'idana'])

suma= pd.concat(
    [diag_aux.groupby(['idcentro', 'idana']).value_counts(), 
     pnd_aux.groupby(['idcentro', 'idana']).value_counts(), 
     pdnf_aux.groupby(['idcentro', 'idana']).value_counts(), 
     ei_aux.groupby(['idcentro', 'idana']).value_counts(), 
     elp_aux.groupby(['idcentro', 'idana']).value_counts()], 
    axis=1
    ).sum(axis=1)

In [160]:
# Here we have the patients with their total number of events
suma.sort_values()

idcentro  idana
203       4598      6.0
99        8027      7.0
1         2711      7.0
121       3031      8.0
1         3751      8.0
                   ...
157       13086    23.0
162       3332     23.0
164       43       23.0
162       4754     23.0
          1399     24.0
Length: 1555, dtype: float64

In [161]:
# Now we select those who have more than a certain threshold
threshold=17
suma=suma[suma>=threshold]
l=suma.index

In [162]:
# We turn our list into a dataframe and clean the patiens table
tupla1, tupla2 = [i for i, j in l], [j for i,j in l]

df1 = pd.DataFrame()
df1['idcentro']=tupla1
df1['idana']=tupla2
df1.head()

ap_aux  = pd.merge(ap_class1_copies, df1, on=['idcentro','idana'])
ap_aux.head()

,idcentro,idana,idcopy,sesso,annodiagnosidiabete,tipodiabete,annonascita,annoprimoaccesso,annodecesso,label
0,1,5,1,M,1986.0,5,1942,1990.0,2014.0,1
1,1,5,2,M,1986.0,5,1942,1990.0,2014.0,1
2,1,5,3,M,1986.0,5,1942,1990.0,2014.0,1
3,1,65,1,M,1997.0,5,1942,1997.0,2018.0,1
4,1,65,2,M,1997.0,5,1942,1997.0,2018.0,1

In [163]:
# We eliminate from the other tables the events of patients that have been just eliminated from the patients table
diag_aux = diag.merge(ap_aux, on=['idcentro', 'idana'])
pnd_aux = pnd.merge(ap_aux, on=['idcentro', 'idana'])
pdf_aux = pdf.merge(ap_aux, on=['idcentro', 'idana'])
pdnf_aux = pdnf.merge(ap_aux, on=['idcentro', 'idana'])
ei_aux = ei.merge(ap_aux, on=['idcentro', 'idana'])
elp_aux = elp.merge(ap_aux, on=['idcentro', 'idana'])

patientsOfInterest_labeled_aux = pd.concat([ap_class0,ap_aux]).filter(['idcentro','idana','idcopy','label'])

# Now we see that we have more patients with label 1 than patients with label 0
patientsOfInterest_labeled_aux['label'].value_counts()

0    868
1    693
Name: label, dtype: int64

### Exercise 2.1

Let's train our model

### Exercise 2.2

### Exercise 2.3

[EJEMPLO DE USO PUBMEDBERT](https://colab.research.google.com/github/abhimishra91/transformers-tutorials/blob/master/transformers_multi_label_classification.ipynb#scrollTo=NLxxwd1scQNv)  

[MEZCLANDO CATEGORICAL Y NUMERICAL](https://mccormickml.com/2021/06/29/combining-categorical-numerical-features-with-bert/)

Let's try to use **cuda** (if possible) for a better performance:

In [164]:
from torch import cuda
DEVICE = 'cuda' if cuda.is_available() else 'cpu'
print(f"Using {torch.cuda.get_device_name(DEVICE)}")

Using NVIDIA GeForce GTX 1050

In [165]:
# First we concatenate all the dataframes, the ones with class = 0 with the others, with class = 1
ap_class   = pd.concat([ap_class0,ap_class1_copies],    axis=0)
diag_class = pd.concat([diag_class0,diag_class1_copies],axis=0)
elp_class  = pd.concat([elp_class0,elp_class1_copies],  axis=0)
ei_class   = pd.concat([ei_class0,ei_class1_copies],    axis=0)
pdf_class  = pd.concat([pdf_class0,pdf_class1_copies],  axis=0)
pdnf_class = pd.concat([pdnf_class0,pdnf_class1_copies],axis=0)
pnd_class  = pd.concat([pnd_class0,pnd_class1_copies],  axis=0)

In [166]:
ap_class.sort_values(by=['idcentro','idana']).head(10)

,idcentro,idana,idcopy,sesso,annodiagnosidiabete,tipodiabete,annonascita,annoprimoaccesso,annodecesso,label
0,1,5,1,M,1986.0,5,1942,1990.0,2014.0,1
1,1,5,2,M,1986.0,5,1942,1990.0,2014.0,1
2,1,5,3,M,1986.0,5,1942,1990.0,2014.0,1
3,1,65,1,M,1997.0,5,1942,1997.0,2018.0,1
4,1,65,2,M,1997.0,5,1942,1997.0,2018.0,1
5,1,65,3,M,1997.0,5,1942,1997.0,2018.0,1
2,1,74,1,M,1995.0,5,1930,1996.0,2013.0,0
3,1,143,1,M,1991.0,5,1934,1991.0,2015.0,0
6,1,173,1,M,1988.0,5,1939,1988.0,2012.0,1
7,1,173,2,M,1988.0,5,1939,1988.0,2012.0,1

We read the *.csv* that contain all the information to translate *codiceamd* and *codiceatc* into descriptive texts

In [167]:
read_data_path  = "../../data/codici/"

codiciAMD = pd.read_csv(read_data_path+'/amd_codes_for_bert.csv', header=0 ,names=['codiceamd','meaning'])
codiciATC = pd.read_csv(read_data_path+'/atc_info_nodup.csv', header=0 ,names=['codiceatc','first','last','len','numpatients','numdates','atc_nome'])
codiciATC = codiciATC.filter(['codiceatc','atc_nome']).rename(columns={'atc_nome':'meaning'})

In [168]:
codiciAMD.head()

  codiceamd                               meaning
0    AMD090                             Diet only
1    AMD140                          Self control
2    AMD215  Number of strips prescribed per week
3    AMD228                 Integrated management
4    AMD086      Self-monitoring of blood glucose

In [169]:
codiciATC.head()

  codiceatc            meaning
0   A10AB01    insulin (human)
1   A10AB04     insulin lispro
2   A10AB05     insulin aspart
3   A10AB06  insulin glulisine
4   A10AC01    insulin (human)

In [170]:
def addingMeaningColumn(df:pd.DataFrame, patients:pd.DataFrame) -> pd.DataFrame:
    initialCols = df.columns.to_list()
    # Do we have to translate AMD or ATC codes?
    if np.isin('codiceamd',list(df.columns)):
        codice = 'codiceamd'
        codiciDF = codiciAMD
    else:
        codice = 'codiceatc'
        codiciDF = codiciATC

    # At first, we add a column into the dataframe with the descriptive text of each code
    df = pd.merge(df, codiciDF, on=[codice]) 

    # Now we add the information about the patient
    df = pd.merge(df, patients, on=['idcentro','idana','idcopy']).sort_values(by='data')

    # Rename 'meaning' column to 'comment_text'
    df = df.rename(columns={'meaning':'comment_text'})

    initialCols.remove(codice)
    initialCols.remove('data')
    initialCols.append('comment_text')
    return df.filter(items=initialCols)

In [171]:
diag_class_bert = addingMeaningColumn(diag_class, ap_class)
elp_class_bert  = addingMeaningColumn(elp_class, ap_class)
ei_class_bert   = addingMeaningColumn(ei_class, ap_class)
pdf_class_bert  = addingMeaningColumn(pdf_class, ap_class)
pdnf_class_bert = addingMeaningColumn(pdnf_class, ap_class)
pnd_class_bert  = addingMeaningColumn(pnd_class, ap_class)

Let's eliminate NAN values:

In [172]:
diag_class_bert = diag_class_bert.fillna("")  
elp_class_bert  = elp_class_bert.fillna("")  
ei_class_bert   = ei_class_bert.fillna("")  
pdf_class_bert  = pdf_class_bert.fillna("")  
pdnf_class_bert = pdnf_class_bert.fillna("")  
pnd_class_bert  = pnd_class_bert.fillna("")

In [173]:
diag_class_bert.head()

       idcentro  idana  idcopy valore     comment_text
10805        74   7564       1      N  Cigarette smoke
93162       157   1354       3     EX  Cigarette smoke
93221       157   2260       3      N  Cigarette smoke
93204       157   2260       2      N  Cigarette smoke
93151       157   1354       3            Hypertension

In [174]:
elp_class_bert.head()

        idcentro  idana  idcopy      valore         comment_text
113631       161   3314       1  125.696056  Fasting blood sugar
113775       161   3314       1        10.0        Protein Urine
113746       161   3314       1                 Microalbuminuria
113555       161   3314       1       167.0               Height
113586       161   3314       1    5.867347                HbA1c

In [186]:
ap_class = ap_class.reset_index()

Now we create a paragraph using all the events of all tables for each patient in order to use a BERT-like model:

In [188]:
for i in range(len(ap_class)):
    
    patient = dict(ap_class.loc[i])
    patientDF = pd.DataFrame(data=patient, index=[i])

    patient_text = f"I was born in {patient['annonascita']} and I am a {'man' if patient['sesso']=='M' else 'woman'}. I was diagnosed in {patient['annodiagnosidiabete']} with diabetes of type {patient['tipodiabete']}. My first access was in {patient['annoprimoaccesso']}."
    
    # We aggregate the events to the text.
    pdnf_class_bert_patient = pdnf_class_bert.merge(patientDF, on=['idcentro','idcopy','idana'])
    patient_text += " My diets and blood glucose controls have been: "
    for index, event in pdnf_class_bert_patient.iterrows():
        patient_text += f"{event.comment_text} with value {event.valore}, "
    patient_text = patient_text[:-2] + "."

    pdf_class_bert_patient  = pdf_class_bert.merge(patientDF, on=['idcentro','idcopy','idana'])
    patient_text += " The diabetes drugs that have been prescripted to me: "
    for index, event in pdf_class_bert_patient.iterrows():
        patient_text += f"{event.comment_text} with quantity {event.quantita}, "
    patient_text = patient_text[:-2] + "."

    pnd_class_bert_patient  = pnd_class_bert.merge(patientDF, on=['idcentro','idcopy','idana'])
    patient_text += " The non-diabetes drugs that have been prescripted to me: "
    for index, event in pnd_class_bert_patient.iterrows():
        patient_text += f"{event.comment_text} with value {event.valore}, "
    patient_text = patient_text[:-2] + "."

    ei_class_bert_patient   = ei_class_bert.merge(patientDF, on=['idcentro','idcopy','idana'])
    patient_text += " Medical tests: "
    for index, event in ei_class_bert_patient.iterrows():
        patient_text += f"{event.comment_text} with value {event.valore}, "
    patient_text = patient_text[:-2] + "."

    elp_class_bert_patient  = elp_class_bert.merge(patientDF, on=['idcentro','idcopy','idana'])
    patient_text += " Laboratory tests: "
    for index, event in elp_class_bert_patient.iterrows():
        patient_text += f"{event.comment_text} with value {event.valore}, "
    patient_text = patient_text[:-2] + "."
    
    diag_class_bert_patient = diag_class_bert.merge(patientDF, on=['idcentro','idcopy','idana'])
    patient_text += " Diagnosis tests: "
    for index, event in diag_class_bert_patient.iterrows():
        patient_text += f"{event.comment_text} with value {event.valore}, "
    patient_text = patient_text[:-2] + "."

    patient_text += f" Finally i died in {patient['annodecesso']}."
    ap_class.loc[i, 'text'] = patient_text

In [193]:
ap_class_bert = ap_class.filter(items=['text','label'])

Now let's apply the PubMedBert:

In [194]:
# !pip install transformers

In [202]:
import torch
from transformers import AutoTokenizer, AutoModelForMaskedLM

tokenizer = AutoTokenizer.from_pretrained("microsoft/BiomedNLP-PubMedBERT-base-uncased-abstract-fulltext")

model = AutoModelForMaskedLM.from_pretrained("microsoft/BiomedNLP-PubMedBERT-base-uncased-abstract-fulltext")

model = model.to(DEVICE)

Some weights of the model checkpoint at microsoft/BiomedNLP-PubMedBERT-base-uncased-abstract-fulltext were not used when initializing BertForMaskedLM: ['cls.seq_relationship.weight', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertForMaskedLM from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForMaskedLM from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

We define some model HyperParameters:

In [211]:
BATCH_SIZE = 32
LEARNING_RATE = 1e-5
EPOCHS = 4

In [199]:
max_len = 0
for i in range(len(ap_class_bert)):
    if len(ap_class_bert['text'])>max_len:
        max_len = len(ap_class_bert['text'])

print(f"The maximum length is: {max_len}")

The maximum length is: 2929

In [224]:
# Let's use a maximum length of 3000.
max_len = 200

In [225]:
# Tokenize all of the sentences and map the tokens to their word IDs.
input_ids = []
attention_masks = []

for i in range(len(ap_class_bert)):
    paragraph = ap_class_bert.loc[i,'text']
    encoded_dict = tokenizer.encode_plus(paragraph,
                                         add_special_tokens=True,
                                         max_length=max_len,
                                         truncation=True,
                                         padding='max_length',
                                         return_attention_mask=True,
                                         return_tensors='pt')
    input_ids.append(encoded_dict['input_ids'])
    attention_masks.append(encoded_dict['attention_mask'])

input_ids=torch.cat(input_ids, dim=0)
attention_masks = torch.cat(attention_masks, dim=0)
labels = torch.tensor(ap_class_bert['label'].to_list())

print('DONE.')

DONE.

Now that it’s done, we can divide up the samples into the three splits.

In [226]:
train_size = int(0.8 * len(ap_class_bert))
val_size = int(0.1 * len(ap_class_bert))
test_size = len(ap_class_bert) - (train_size + val_size)

In [227]:
indexes = np.arange(0, len(ap_class_bert))
random.shuffle(indexes)

In [228]:
train_idx = indexes[0:train_size]
val_idx = indexes[train_size:(train_size + val_size)]
test_idx = indexes[(train_size + val_size):]

In [229]:
print(f"Training Size:   {train_size}")
print(f"Validation Size: {val_size}")
print(f"Test Size:       {test_size}")

Training Size:   2343
Validation Size: 292
Test Size:       294

In [230]:
from torch.utils.data import TensorDataset

# Split the samples, and create TensorDatasets for each split. 
train_dataset = TensorDataset(input_ids[train_idx], attention_masks[train_idx], labels[train_idx])
val_dataset = TensorDataset(input_ids[val_idx], attention_masks[val_idx], labels[val_idx])
test_dataset = TensorDataset(input_ids[test_idx], attention_masks[test_idx], labels[test_idx])

Prepare the Data Loader:

In [231]:
from torch.utils.data import DataLoader, RandomSampler, SequentialSampler

# Create the DataLoaders for our training and validation sets.
# We'll take training samples in random order. 
train_dataloader = DataLoader(
            train_dataset,  # The training samples.
            sampler = RandomSampler(train_dataset), # Select batches randomly
            batch_size = BATCH_SIZE # Trains with this batch size.
        )

# For validation the order doesn't matter, so we'll just read them sequentially.
validation_dataloader = DataLoader(
            val_dataset, # The validation samples.
            sampler = SequentialSampler(val_dataset), # Pull out batches sequentially.
            batch_size = BATCH_SIZE # Evaluate with this batch size.
)

In [232]:
from torch.optim import AdamW

# Note: AdamW is a class from the huggingface library (as opposed to pytorch) 
# I believe the 'W' stands for 'Weight Decay fix"
optimizer = AdamW(model.parameters(),
                  lr = LEARNING_RATE, 
                  eps = 1e-8 
                )

We also implemet a LR scheduler so as to implement learning rate decay:

In [233]:
from transformers import get_linear_schedule_with_warmup

# Total number of training steps is [number of batches] x [number of epochs]. 
# (Note that this is not the same as the number of training samples!)
total_steps = len(train_dataloader) * EPOCHS

# Create the learning rate scheduler.
scheduler = get_linear_schedule_with_warmup(optimizer, 
                                            num_warmup_steps = 0, # Default value in run_glue.py
                                            num_training_steps = total_steps)

In [234]:
# Function to calculate the accuracy of our predictions vs labels
def flat_accuracy(preds, labels):
    pred_flat = np.argmax(preds, axis=1).flatten()
    labels_flat = labels.flatten()
    return np.sum(pred_flat == labels_flat) / len(labels_flat)

In [235]:
def format_time(elapsed):
    '''
    Takes a time in seconds and returns a string hh:mm:ss
    '''
    # Round to the nearest second.
    elapsed_rounded = int(round((elapsed)))
    
    # Format as hh:mm:ss
    return str(datetime.timedelta(seconds=elapsed_rounded))

In [236]:
import time

# We'll store a number of quantities such as training and validation loss, 
# validation accuracy, and timings.
training_stats = []

# Measure the total training time for the whole run.
total_t0 = time.time()

# For each epoch...
for epoch_i in range(0, EPOCHS):
    
    # ========================================
    #               Training
    # ========================================
    
    # Perform one full pass over the training set.

    print("")
    print(f'======== Epoch {epoch_i} / {EPOCHS} ========')
    print('Training...')

    # Measure how long the training epoch takes.
    t0 = time.time()

    # Reset the total loss for this epoch.
    total_train_loss = 0

    # Put the model into training mode
    model.train()

    # For each batch of training data...
    for step, batch in enumerate(train_dataloader):

        # Progress update every 40 batches.
        if step % 40 == 0 and not step == 0:
            # Calculate elapsed time in minutes.
            elapsed = format_time(time.time() - t0)
            
            # Report progress.
            print(f'  Batch {step:>5,}  of  {len(train_dataloader):>5,}.    Elapsed: {elapsed}.')

        # Unpack this training batch from our dataloader. 
        #
        # As we unpack the batch, we'll also copy each tensor to the GPU using the 
        # `to` method.
        #
        # `batch` contains three pytorch tensors:
        #   [0]: input ids 
        #   [1]: attention masks
        #   [2]: labels 
        b_input_ids = batch[0].to(DEVICE)
        b_input_mask = batch[1].to(DEVICE)
        b_labels = batch[2].to(DEVICE)

        # Always clear any previously calculated gradients before performing a backward pass
        model.zero_grad()        

        # Perform a forward pass (evaluate the model on this training batch).
        result = model(b_input_ids, 
                       token_type_ids=None, 
                       attention_mask=b_input_mask, 
                       labels=b_labels,
                       return_dict=True)

        loss = result.loss
        logits = result.logits

        # Accumulate the training loss over all of the batches so that we can calculate the average loss at the end.
        total_train_loss += loss.item()

        # Perform a backward pass to calculate the gradients.
        loss.backward()

        # Clip the norm of the gradients to 1.0.
        # This is to help prevent the "exploding gradients" problem.
        torch.nn.utils.clip_grad_norm_(model.parameters(), 1.0)

        # Update parameters and take a step using the computed gradient.
        # The optimizer dictates the "update rule"--how the parameters are
        # modified based on their gradients, the learning rate, etc.
        optimizer.step()

        # Update the learning rate.
        scheduler.step()

    # Calculate the average loss over all of the batches.
    avg_train_loss = total_train_loss / len(train_dataloader)            
    
    # Measure how long this epoch took.
    training_time = format_time(time.time() - t0)

    print("")
    print(f"  Average training loss: {avg_train_loss:.2f}")
    print(f"  Training epcoh took: {training_time}")
        
    # ========================================
    #               Validation
    # ========================================
    # After the completion of each training epoch, measure our performance on
    # our validation set.

    print("")
    print("Running Validation...")

    t0 = time.time()

    # Put the model in evaluation mode--the dropout layers behave differently
    # during evaluation.
    model.eval()

    # Tracking variables 
    total_eval_accuracy = 0
    total_eval_loss = 0
    nb_eval_steps = 0

    # Evaluate data for one epoch
    for batch in validation_dataloader:
        
        # Unpack this training batch from our dataloader. 
        #
        # As we unpack the batch, we'll also copy each tensor to the GPU using 
        # the `to` method.
        #
        # `batch` contains three pytorch tensors:
        #   [0]: input ids 
        #   [1]: attention masks
        #   [2]: labels 
        b_input_ids = batch[0].to(DEVICE)
        b_input_mask = batch[1].to(DEVICE)
        b_labels = batch[2].to(DEVICE)
        
        # Tell pytorch not to bother with constructing the compute graph during
        # the forward pass, since this is only needed for backprop (training).
        with torch.no_grad():        

            # Forward pass, calculate logit predictions.
            # token_type_ids is the same as the "segment ids", which 
            # differentiates sentence 1 and 2 in 2-sentence tasks.
            result = model(b_input_ids, 
                           token_type_ids=None, 
                           attention_mask=b_input_mask,
                           labels=b_labels,
                           return_dict=True)

        # Get the loss and "logits" output by the model. The "logits" are the 
        # output values prior to applying an activation function like the 
        # softmax.
        loss = result.loss
        logits = result.logits
            
        # Accumulate the validation loss.
        total_eval_loss += loss.item()

        # Move logits and labels to CPU
        logits = logits.detach().cpu().numpy()
        label_ids = b_labels.to('cpu').numpy()

        # Calculate the accuracy for this batch of test sentences, and
        # accumulate it over all batches.
        total_eval_accuracy += flat_accuracy(logits, label_ids)
        

    # Report the final accuracy for this validation run.
    avg_val_accuracy = total_eval_accuracy / len(validation_dataloader)
    print(f"  Accuracy: {avg_val_accuracy:.2f}")

    # Calculate the average loss over all of the batches.
    avg_val_loss = total_eval_loss / len(validation_dataloader)
    
    # Measure how long the validation run took.
    validation_time = format_time(time.time() - t0)
    
    print("  Validation Loss: {avg_val_loss:.2f}")
    print("  Validation took: {validation_time}")

    # Record all statistics from this epoch.
    training_stats.append(
        {
            'epoch': epoch_i + 1,
            'Training Loss': avg_train_loss,
            'Valid. Loss': avg_val_loss,
            'Valid. Accur.': avg_val_accuracy,
            'Training Time': training_time,
            'Validation Time': validation_time
        }
    )

print("")
print("Training complete!")

print(f"Total training took {format_time(time.time()-total_t0)} (h:mm:ss)")

======== Epoch 0 / 4 ========
Training...

OutOfMemoryError: CUDA out of memory. Tried to allocate 20.00 MiB (GPU 0; 4.00 GiB total capacity; 3.35 GiB already allocated; 0 bytes free; 3.50 GiB reserved in total by PyTorch) If reserved memory is >> allocated memory try setting max_split_size_mb to avoid fragmentation.  See documentation for Memory Management and PYTORCH_CUDA_ALLOC_CONF